# Visual Studio / Rider
.vs/
*.user
*.suo

# Build Outputs
[Bb]in/
[Oo]bj/

# Android Studio / IntelliJ
.idea/
**/.idea/
*.iml
.gradle/
build/
Digital_Handbook_Portal/Digital_Handbook_Portal/appsettings.json
Digital_Handbook_Portal/HandbookApi/Credentials/digitalhandbook-37a30108df42.json

Digital_Handbook_Portal/HandbookApi/appsettings.json
